*     
*   *     
*   *   *     
*   *   *   *     
*   *   *   *

In [2]:
n = 5
for i in range(n+1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

      *
    * *
  * * *
* * * *

In [32]:
n = 5
for i in range(1,n+1):
    print(' ' * ((n-i)) + ('*'*i))

    *
   **
  ***
 ****
*****

In [26]:
n = 5
for i in range(1,n+1):
    spaces = ' ' * (2 * (n-i))
    star = '* ' * i
    print(spaces + star)

        *
      * *
    * * *
  * * * *
* * * * *

In [33]:
n = 4
for i in range(1,n+1):
    print(' '* (2 * (n-i)) + ('* '*i))

      *
    * *
  * * *
* * * *

       *     
     *   *     
    *  *  *     
  *  *   *   *     
*   *  *   *   *

In [ ]:
n = 5
for i in range(1,n+1):
    space1 = (' ' * (2 * (n-i)))
    star = (' * ' * i)
    space2 = (' '* (2 * (n-i)))
    print(space1 + star +space2)
# The output we are getting is not perfect symmetry

         *
       *  *
     *  *  *
   *  *  *  *
 *  *  *  *  *

In [ ]:
n = 5
for i in range(1,n+1):
    spaces = (' ' * (n-i)) # here we are adding left side spaces only; check in output
    star = '* ' * i 
    print(spaces + star,end='')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [67]:
n = 5
for i in range(1,n+1):
    print(' ' * (n-i) + '* ' * i,end='') # end='' dosent change the output it's choice
    print()

    *
   * *
  * * *
 * * * *
* * * * *

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [101]:
n = 6
for i in range(1,n+1):
    print((' '* i) + ('* ' * (2*(n-i)-1)),end='')
    print()

 * * * * * * * * *
  * * * * * * *
   * * * * *
    * * *
     *

In [21]:
n = 5
for i in range(n):
    spaces = ' ' * i
    stars = '* ' * (2 * (n - i) - 1)
    print(spaces + stars)

* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [8]:
n = 5
max_width = len('* ' * (2 * n - 1))
for i in range(n):
    stars = '* ' * (2 * (n-i) - 1)
    print(stars.strip().center(max_width))

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

1     
1   2     
1   2   3     
1   2   3   4     
1   2   3   4   5

In [6]:
num = 5
for i in range(1,num+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

1     
2   3     
4   5   6     
7   8   9   10     
11   12   13   14   15

In [19]:
num = 5
c = 1
for i in range(1,num+1):
    for j in range(i):
        print(c,end=' ')
        c+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

7. Pascalâ€™s Triangle
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

In [ ]:
num = 5
for i in range(1,num+1):
    for j in range(num-i,0,-1):
        print('',end=' ')
    c=1
    for k in range(1,i+1):
        print(c,end=' ')
        c = c * (i - k) // k
    print()

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

A                [Use   ASCII   Values]   
B   B     
C   C   C     
D   D   D   D     
E   E   E   E   E

In [8]:
num = 5
char = 65
for i in range(num):
    for j in range(i+1):
        print(chr(char),end=' ')
    char+=1
    print()

A
B B
C C C
D D D D
E E E E E

A     
B   C     
D   E   F     
G   H   I   J     
K   L   M   N   O

In [12]:
num = 5
char = 65
for i in range(num):
    for j in range(i+1):
        print(chr(char),end=' ')
        char+=1
    print()

A
B C
D E F
G H I J
K L M N O

 K
 K K
 K K K
 K K K K
 K K K K K

In [13]:
num = 5
for i in range(num):
    for j in range(i+1):
        print('k',end=' ')
    print()

k
k k
k k k
k k k k
k k k k k

A     
A B     
A B C
A B C D
A B C D E

In [ ]:
num = 5
char = 65
for i in range(1,num+1):
    for j in range(i):
        print(chr(char+j),end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

p
py
pyt
pyth
pytho
python

In [1]:
st = 'Python'
for i in range(1,len(st)+1):
    print(st[:i])

P
Py
Pyt
Pyth
Pytho
Python

In [ ]:
1   1   1   1   1     
2   2   2   2     
3   3   3     
4   4     
5

In [35]:
num = 5
const=1
for i in range(num):
    for j in range(num-i,0,-1):
        print(const,end=' ')
    print()
    const+=1

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
6 6 6 6 6 6
 5 5 5 5 5
 4 4 4 4
 3 3 3
 2 2
 1